// General
$border-radius: 3px;
$ui-element-height: 32px;

// z-index values
$z-nav: 1;
$z-overlay: 10;
$z-modal: 20;
$z-tooltip: 30;

// line heights
$line-height-s: 1rem;
$line-height-base: 1.25rem;
$line-height-l: 1.5rem;
$line-height-xl: 1.58rem;
$line-height-xxl: 2rem;
